@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html, body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.viewport-options{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  flex-direction: column;
}
.viewport-option{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  background: #192056;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.viewport-option.selected{
  background: #0468BF !important;
}
.viewport-option:nth-child(1){
  border-left: none;
}
.viewport-option:hover{
  background-color:#0F1333;
}
.main-page{
  display: flex;
  flex-direction: column;
  transition: margin-left ease-in-out .3s;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 100vw;
  margin-left:350px;
  background: #EBEDEF;
}
.header{
  top: 0;
  position: sticky;
  right: 0;
  left: 0;
  z-index: 1029;
  display: flex;
  align-items: center;
  background:#fff;
  border-bottom: solid #212624 2px;
}

.avatar-icon{
  margin-right: 1em;
}
.avatar-img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.header.header-active{
  left: 0;
}
.header-nav{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  user-select: none;
}

.header-nav-link,
.header-nav-dropdown-toggle{
  padding: 10px;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out .2s;
}
.header-nav-link:hover,
.header-nav-dropdown-toggle:hover{
  background-color:rgb(164, 204, 238) !important;
}
.header-nav-dropdown-toggle.open{
  background-color: #fff;
}
.header-nav-dropdown-itens{
  max-height: 0px;
  overflow-y: hidden;
  background: #fff;
  position: absolute;
  right: 0;
}
.header-nav-dropdown-toggle.open +.header-nav-dropdown-itens{
  max-height: 1500px;
  border: 1px solid #999;
}
.header-nav-dropdown-itens .header-nav-link{
  padding-left: 10px; 
  width: 150px;
}
.pag-body{
  flex-grow:1;
  display: flex;
}
.pag-main{
  padding:2em 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
}
.device{
  display: block;
  box-shadow: 0px 0px 30px #000;
  height: 100%;
}
.screen{
  height: 100%;
  transition: width ease-in-out .2s;
}
.screen.desktop{
  width:900px;
}
.screen.tablet{
  width:578px;
}
.screen.mobile{
  width:375px;
}

@media (max-width: 576px) {
  .mobile-template-header{
    width:100%;
    top:0;
    left:0;
    right:0;
    height:60px;
    z-index:2000;
    position:fixed;
    background-color: #192056;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .mobile-template-header.active{
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .mobile-header-close{
    background-color: transparent;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: auto;
    position: absolute;
    right: 0px;
    display:inline-block;
    cursor: pointer;
  }
  .mobile-header-close:before, .mobile-header-close:after{
    content: '';
    height: 8px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 10px;
    transition: all ease-in-out .2s;
  }
  .mobile-header-close:hover:before,
  .mobile-header-close:hover:after{
    background-color: #4b82c3;
  }
  .mobile-header-close:before{
    transform: rotateZ(45deg);
  }
  .mobile-header-close:after{
    transform: rotateZ(-45deg);
  }
  .screen.active{
    width:100%;
    top:60px;
    left:0;
    right:0;
    bottom:0;
    z-index:2000;
    position:fixed;
  }
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar{
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left:0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  
  min-width: 350px;
  max-width: 350px;
  max-height: 100%;
  background-color:#192056;
  box-shadow: 0 0 10px #000;
  z-index: 1031;
  transition: left ease-in-out .3s;
}
@media (max-width: 576px) {
  .sidebar{
    width: 100%;
    max-width:100%;
    min-width: 100%;
  }
}
.sidebar-option{
  height: 100%;
  overflow-y: scroll;
}
.sidebar-buttons{
  padding: 15px;
}
.sidebar-logo{
  padding: 0px 80px;
  fill:#fff;
}
.sidebar-title{
  margin-top:20px;
  margin-bottom:10px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  user-select: none;
}
.sidebar-title:first-child{
  margin-top:0px;
}
.sidebar-toggle{
  position: relative;
}
.sidebar-toggle-title{
  color: #fff;
  border-top: 2px #0F1333 solid;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out .2s;
  user-select: none;
}
.sidebar-toggle-title:hover{
  background-color:#2375FF;
}
.sidebar-toggle-title:before{
  content: '';
  height: 15px;
  width: 15px;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
  border: solid #fff;
  border-width: 0 0 5px 5px;
  transition: all ease-in-out .2s;
}
.sidebar-toggle-title.open:before{
  transform: translateY(-50%) rotateZ(-45deg) !important;
}
.sidebar-button{
  background: #0468BF;
  color: #fff;
  width: 100%;
  font-size: 18px;
  border-radius:8px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  margin-top:10px;
  transition: ease-in-out all .2s;
}
.sidebar-button:hover{
  background: #034C8C;
}

.sidebar-button.red{
  background: #e40d0d;
  color: #fff;
}
.sidebar-button.red:hover{
  background: #8c0303;
}
.title-input-area{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.title-input{
  background-color: #0F1333;
  border:none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: calc(100% - 44px);
}

.contact-input-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.contact-input{
  background-color: #0F1333;
  border:none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: calc(100% - 44px);
}

.link-input{
  background-color: #0F1333;
  border:none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.horario-input-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.horario-input{
  background-color: #0F1333;
  border:none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  margin-right: 5px;
  width: calc(50% - 25.5px);
}
.horario-input:nth-child(2){
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-delete-row{
  background: #0468BF;
  color: #fff;
  font-size: 18px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 14px;
  transition: ease-in-out all .2s;
}
.button-delete-row:hover{
  background: #034C8C;
}
.contact-input-title{
  color:#fff;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 10px;
}

.input-logo-area{
  background-size: contain !important;
}
.input-logo-area:hover:after{opacity:1;}
.input-img-area{
  margin-top: 10px;
  height: 200px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.input-img-area:before{
  content: 'Adicionar Imagem';
  top: 50%;
  transform: translateY(-50%);
  
  width: 100%;
  opacity: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  transition: 0.2s ease-in-out all;
  text-shadow: 0px 1px #000, 1px 0px #000, 0px -1px #000, -1px 0px #000;
  position: absolute;
}
.input-img-area:hover:before{
  opacity: 1;
}
.input-img, .input-logo{
  position: relative;
  width: 100%;
  height:100%;
  opacity: 0;
  cursor: pointer;
}

.sidebar-toggle-content{
  max-height: 0px;
  overflow-y: hidden;
}
.sidebar-toggle-title.open +.sidebar-toggle-content{
  max-height: 999999px;
  padding: 15px;
}
.sidebar-textarea, .sidebar-input, .sidebar-banner-title{
  background-color: #0F1333;
  border:none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.sidebar-textarea:focus, .sidebar-input:focus, .sidebar-banner-title:focus{
  outline: 4px dashed #0468BF;
}
.sidebar-textarea{
  min-height: 100px;
  max-height: 100%;
}
.sidebar-banner-title{
  min-height: 100%;
}
.page-color-area{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.page-color-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}
.page-color-container{
  position: relative;
  height: auto;
  padding: 8px;
  width: 75px;
  height: 75px;
}
.page-color-input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.page-color{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out .1s;
  border: 2px solid #fff;
  border-radius: 4px;
}
.page-color-blue:after,.page-color-aqua:after, .page-color-green:after,.page-color-yellow:after,.page-color-red:after,.page-color-pink:after,.page-color-purple:after,.page-color-orange:after{
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 21px;
  height: 30px;
  border: solid;
  border-width: 0 10px 10px 0;
  opacity: 0;
  transform: rotate(45deg);
}
.page-color-blue{
  background-color: #2375FF;
}
.page-color-blue:hover{
  background-color:#044D8C;
}
.page-color-input:checked ~ .page-color-blue:after{
  border-color:#000;
  opacity: 1;
}
.page-color-green{
  background-color: #009921;
}
.page-color-green:hover{
  background-color:#006616;
}
.page-color-input:checked ~ .page-color-green:after{
  border-color:#000;
  opacity: 1;
}
.page-color-red{
  background-color: #E50011;
}
.page-color-red:hover{
  background-color:#C4000F;
}
.page-color-input:checked ~ .page-color-red:after{
  border-color:#fff;
  opacity: 1;
}
.page-color-aqua{
  background-color: #00CDAC;
}
.page-color-aqua:hover{
  background-color:#02AAB0;
}
.page-color-input:checked ~ .page-color-aqua:after{
  border-color:#000;
  opacity: 1;
}
.page-color-pink{
  background-color: #FE0E4C;
}
.page-color-pink:hover{
  background-color:#B20A35;
}
.page-color-input:checked ~ .page-color-pink:after{
  border-color:#fff;
  opacity: 1;
}
.page-color-yellow{
  background-color: #FFCB05;
}
.page-color-yellow:hover{
  background-color:#FAB400;
}
.page-color-input:checked ~ .page-color-yellow:after{
  border-color:#000;
  opacity: 1;
}
.page-color-purple{
  background-color: #6E0080;
}
.page-color-purple:hover{
  background-color:#4C0059;
}
.page-color-input:checked ~ .page-color-purple:after{
  border-color:#fff;
  opacity: 1;
}
.page-color-orange{
  background-color: #FF7900;
}
.page-color-orange:hover{
  background-color:#FF5600;
}
.page-color-input:checked ~ .page-color-orange:after{
  border-color:#000;
  opacity: 1;
}

.highlights-bg{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  z-index: 2500;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.highlights-area{
  display: flex;
  width: 680px;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: left;
  border-radius: 8px;
  max-height: 100%;
  bottom: auto;
  flex-direction: column;
}

.highlights-header{
  padding: 10px;
  background-color:#192056;
  height: 65px;
}
.highlights-header-title{
  font-size: 24px;
  line-height: 45px;
  color: #fff;
  left: 20px;
  display: inline-block;
}

.highlights-close{
  background-color: transparent;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: auto;
  position: absolute;
  right: 10px;
  display:inline-block;
  cursor: pointer;
}
.highlights-close:before, .highlights-close:after{
  content: '';
  height: 5px;
  width: 27px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 9px;
  transition: all ease-in-out .2s;
}
.highlights-close:hover:before,
.highlights-close:hover:after{
  background-color: #4b82c3;
}
.highlights-close:before{
  transform: rotateZ(45deg);
}
.highlights-close:after{
  transform: rotateZ(-45deg);
}

.highlights-body{
  border-top: solid 1px #f5f5f5;
  padding: 16px;
  height: auto;
  max-height: calc(100% - 125px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

.edit-prod-bg{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  z-index: 2500;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}
.edit-prod-area{
  display: flex;
  width: 680px;
  margin:auto;
  position: relative;
  overflow: hidden;
  text-align: left;
  border-radius: 8px;
  max-height: 100%;
  bottom: auto;
  flex-direction: column;
}
/*Edit Prod Header*/
.edit-prod-header{
  padding: 10px;
  background-color:#192056;
  height: 65px;
}
.edit-prod-header-title{
  font-size: 24px;
  line-height: 45px;
  color: #fff;
  left: 20px;
  display: inline-block;
}
/*edit-prod-close*/
.edit-prod-close{
  background-color: transparent;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-left: auto;
  position: absolute;
  right: 10px;
  display:inline-block;
  cursor: pointer;
}
.edit-prod-close:before, .edit-prod-close:after{
  content: '';
  height: 5px;
  width: 27px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 9px;
  transition: all ease-in-out .2s;
}
.edit-prod-close:hover:before,
.edit-prod-close:hover:after{
  background-color: #4b82c3;
}
.edit-prod-close:before{
  transform: rotateZ(45deg);
}
.edit-prod-close:after{
  transform: rotateZ(-45deg);
}

/*Edit Prod Footer*/
.edit-prod-footer{
  background-color:#192056;
  padding: 10px;
  text-align: center;
}
/*Body Edit Prod*/
.edit-prod-body{
  border-top: solid 1px #f5f5f5;
  padding: 16px;
  height: auto;
  max-height: calc(100% - 125px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}
.table-search{
  position: relative;
  margin-bottom: 10px;
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 0 15px;
  text-align: left;
  background-color: #fff;
}
.table-input{
  font-size: 22px;
  margin:5px 0px;
  width: calc(100% - 35px);
  position: relative;
  border: none;
}
.search-button{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  color: #222;
  border:none;
  cursor: pointer;
  font-size: 22px;
  background: none;
  transition:all ease-in-out .3s;
}
.search-button:hover{
  color: #396dac;
}
.highlight-collum{
  font-size: 20px;
  align-items: center;
  
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 50%;
}
.highlight-collum:nth-child(1){
  padding-right: 8px;
}
.highlight-collum:nth-child(2){
  padding-left: 8px;
}

.highlight-border{
  display: flex;
  flex-direction: row;
  padding: 7px 0;
  border-bottom: 2px solid #041134;
}
.highlight-border:last-child{
  border-bottom:none;
}
.highlight-title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.highlight-desc{
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}
.highlight-button-area{
  display: flex;
  flex-direction: row;
}
.higlight-button{
  margin-left: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #222;

  transition: all ease-in-out .1s;
}

.highlight-accept{
  color: #fff;
  background-color:#1abd1a;
}
.highlight-accept:hover{
  background-color:#2E8C03;
}
.highlight-delete{
  color: #fff;
  background-color:#E50011;
}
.highlight-delete:hover{
  background-color:#C21718;
}
.highlight-star{
  color: #fff;
  background-color:#FAB400;
}
.highlight-star:hover{
  background-color:#F7971E;
}
.highlight-star.marked{
  color:#FAB400;
  background-color: #fff;
}
.highlight-star.marked:hover{
  color:#F7971E;
}
.main-button{
  background-color:#4b82c3;
  width: auto;
  padding: 16px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  user-select: none;
  border-radius: 4px;
  transition: all ease-in .3s;
}
.main-button:hover{
  background-color: #396dac;
}
