/*Border-Color*/
.cart-header, .cart-select-area, .cart-select-area:before, .cart-footer, .cart-input, .cart-prod, .login-input, .menu-options, .menu-categ-area:before, .menu-container, .header, .nav-mobile, .button-1, .login-button, .login-button-2, .login-select-area, .login-select-area:before, .delivery-text, .alert-input-text, .user-mob-item, .user-mob-area, .menu-categ-area, .password-body{
  border-color:#2375FF;
}
/*Background-Color*/
.alert-header, .login-button:hover, .alert-footer, .delivery-footer, .edit-prod-button ,.edit-prod-close:before, .edit-prod-close:after, .cart-close:before, .cart-close:after, .search-button, .button-giftcard, .button-giftcard:hover, .payment-button, .login-icon, .login-button, .button-1:hover,.check-item .checkmark:after, .check-item .checkmark:after, .radio-container input:checked ~ .checkmark-radio, .checkbox-container input:checked ~ .checkmark-checkbox, .login-button-2:hover{
  background-color:#2375FF;
}
.edit-prod-button:disabled{
  background-color:#2375FF !important;
}
/*Background-Hover*/
.edit-prod-button:hover, .search-button:hover, .payment-button:hover, .login-button:hover, .button-giftcard:hover, .cart-close:hover:before, .cart-close:hover:after{
  background-color:#044D8C;
}
/*Color*/
.nav-mobile .selected, .footer-title, .button-1, .delivery-item-messsage, .page-subtitle, .feature-price, .paralax-subtitle, .header-dropdown-item, .header-nav-link, .header-nav-dropdown-toggle, .cart-edit:hover, .cart-remove:hover, .login-button-2, .login-link:hover, .user-mob-item{
  color: #2375FF;
}
.checkmark-checkbox:after{
  border-color:#000;
}
.checkmark-radio:after{
  background-color: #000;
}
.edit-prod-button{
  color: #fff;
}
/*Outros*/
.paralax:before, .paralax-50:before{
  background-color: #999;
}
.alert-close:before, .alert-close:after{
  background-color: #fff;
}