.header-logo:hover, .footer-logo:hover, .about-desc:hover, .about-thumb:hover, .footer-desc:hover, .menu-item-content:hover, .paralax-title:hover, .paralax-subtitle:hover, .page-title:hover, .page-subtitle:hover{
  outline: yellow dashed 5px;
  cursor: pointer;
}

.paralax.hover{
  border: yellow dashed 5px;
  cursor: pointer;
}